parameters:
    errorFormat: table
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - vendor/autoload.php
    # scanFiles:
    #     - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    # ignoreErrors:
    #     - '#Class PHPUnit\\Framework\\TestCase not found.[a-zA-Z0-9\n\\_]+\(\)#'
    level: 0
    # Inclusions
    paths:
        - config
        - src
        - tests
	# Exclusions
    excludePaths:
        - vendor
    tmpDir: var
    ignoreErrors:
    # checkGenericClassInNonGenericObjectType: false
